.grid {
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid white;
    height: 350px;
    width: 400px;
}

.grid div {
    height: 50px;
    width: 50px;
    border: 0.2px solid gray;
    border-radius: 100%;
}

.available {
    background-color: rgb(204, 184, 204);
}

.playerOne{
    background-color: red;
}

.playerTwo {
    background-color: royalblue;
}